*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  font-family: verdana, arial, sans-serif;
  font-size: 100%;
  position: relative;
  background: #ececec;
}

main {
  font-size: 1.25rem;
  max-width: 900px;
  padding: 1em;
  margin: 0 auto;
  background: #fff;
  color: rgb(26, 43, 73);
  min-height: 100vh;
}

p {
  line-height: 1.6;
}

h1, h2, h3 {
  color: #60783a;
  font-weight: 400;
  letter-spacing: -.025em;
}

h1 {
  font-size: 2.25em;
  margin: 0.25em 0 0.75em 0;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

.sub-title {
  color: #60783a;
  font-weight: 600;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

/* Navigation */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ececec;
  padding: 0.75em 0;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav a {
  color: white;
  padding: 0.2em 1em;
  background-color: #60783a;
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.15rem;
}

nav a:hover {
  background-color: rgb(75, 75, 75);
}

/* ****************** */

header {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
}

.title {
  background-image: url(/images/header1440x480.jpg);
  background-size: cover;
  width: 100%;
  min-height: 480px;
}

.title h1 {
  font-size: 4.5rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: -.025em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*   text-shadow: 0 2px 2px rgba(0, 0, 0, 0.26); */
  background-color: rgba(0, 0, 0, 0.25);
}

.divider {
  margin: 3em 1em 2em 1em;
  text-align: center;
  height: 1px;
  border-top: 1px solid#60783a;
}

main a {
  text-decoration: underline;
  color: #60783a;
}

main a:hover {
  text-decoration: none;
}

/* Custom coloured bullet points */

main ul {
  list-style: none;
  /* Remove default bullets */
  padding-left: 1.5em;
}

main ul li {
  margin-bottom: 0.35em;
}

main ul li::before {
  content: "\2022";
  color: #60783a;
  font-weight: 400;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 0.25em;
}

/* ***************************************** */

.endorsements-container {
  position: relative;
  max-width: 800px;
}

.endorsements-text-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em 1.5em 1.5em 1.5em;
}

.endorsement-text {
  color: #fff;
  font-style: italic;
}

.endorsement-text:last-of-type {
  margin-top: 3em;
}

.endorsement-text span {
  color: rgb(31, 216, 47);
  font-size: 0.85em
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 0.9rem;
  color: #fefefe;
  background: rgba(0, 0, 0, 0.6);
  padding: .5em;
  text-align: center;
}

@media screen and (max-width: 650px) {
  main {
    font-size: 1.15rem;
  }
  .title h1 {
    font-size: 3.5rem;
  }
  .endorsement-text:last-of-type {
    margin-top: 2em;
  }
}

@media screen and (max-width: 500px) {
  .title h1 {
    font-size: 2.75rem;
  }
  main {
    font-size: 1rem;
  }
  footer {
    display: none;
  }
  .endorsement-text:last-of-type {
    margin-top: 1em;
  }
}