:root {
    /* Colours */
    --off-white: #fefefe;
    --light-green: #b1da70;
    --mid-green: #60783a;
    --dark-green: #2d381c;
    --bright-green: #44f744;
    --heading-colour: var(--mid-green);
    --text-colour: #203020;
    --main-background-colour: var(--off-white);
    --dark-gray: #444444;
    --mid-gray: #999999;
    --light-gray: #d8d8d8;
    --main-title-colour: #ffffff;
    /* Fonts */
    /* Body text */
    --georgia-serif-stack: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    /* Headings */
    --helvetica-arial-stack: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    font-family: var(--georgia-serif-stack);
    font-size: 100%;
    position: relative;
    background: var(--light-gray);
    min-height: 100vh;
}

main {
    font-size: 1.2rem;
    max-width: 75ch;
    padding: 1rem 1rem 5rem 1rem;
    margin: 0 auto;
    background: var(--main-background-colour);
    color: var(--text-colour);    
}

p {
    line-height: 1.5;
}

article p {
    margin: 1.5rem 0;
}

h1,
h2,
h3 {
    color: var(--heading-colour);
    font-family: var( --helvetica-arial-stack);
    font-weight: 400;
    letter-spacing: -0.025rem;
}

h1 {
    font-size: 2.15rem;
}

h2 {
    font-size: 1.85rem;
    margin: 2rem 0 0.5rem 0;
}

h3 {
    font-size: 1.6rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.36);
}

video {
    display: block;
}

hr {
    border: none;
    border-top: 1px solid var(--light-gray);    
    margin: 1rem 0 2rem 0;
}


/* Navigation */

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--light-gray);    
    padding: 0.2rem 0;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list-item {
    display: inline-block;
    margin-right: 1rem;
    padding: 0;
}

.nav-list-item:last-of-type {
    margin-right: 1.5rem;
}

.nav-link {
    color: var(--dark-green);
    padding: 0.3rem 1rem;   
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--helvetica-arial-stack);
    font-weight: bold;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--mid-green);
    text-decoration: underline;  
}


/* ****************** */

header {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
}

.sitename-container {
    background-image: url(/assets/images/home/header1440x280x50percent.jpg);
    background-size: cover;
    width: 100%;
    min-height: 280px;
}

.sitename {
    display: block;
    font-size: 3.0rem;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    color: var(--main-title-colour);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    background-color: rgba(0, 0, 0, 0.25);
}

.divider {
    margin: 3rem 1rem 2rem 1rem;
    text-align: center;
    height: 1px;
    border-top: 1px solid var(--mid-green);
    ;
}


/* Generic links */

a {
    text-decoration: underline;
    color: var(--mid-green);
}

a:hover {
    color: var(--dark-green);
}


/* Post list */

.post-list {
    /* list-style: none; */
    /* padding-left: 0; */
    margin-left: 0;
}

.post-list-item {
    margin-bottom: 1.5rem;
    margin-left: -0.5rem;
}

.post-list-item:last-of-type {
    margin-bottom: 3rem;
}

.post-list-link {
    font-family: var(--georgia-serif-stack);
    padding: 0.5rem 0.5rem 0.15rem 0.5rem;   
    text-decoration: none;
    border-bottom: 1px solid var(--mid-green)
}

.post-list-link:hover {       
    border-bottom: dotted;    
}

.bottom-link-to-list-of-posts {
    display: inline-block;
    margin: 2rem 0;
}

.post-date {
    color: var(--dark-gray);
    font-style: italic;
    font-size: 1rem;
}


/* ***************************************** */

.endorsement {
    font-style: italic;
}

.endorsement-author {
    color: var(--mid-green);
}

section:last-of-type {
    margin-bottom: 3.5rem;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 0.75rem;
    color: var(--off-white);
    background: rgba(0, 0, 0, 0.6);
    padding: 0.25rem;
    text-align: center;
}

@media screen and (max-width: 660px) {
    main {
        font-size: 1.2rem;
    }
    .sitename {
        font-size: 3.5rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.45rem;
    }
}

@media screen and (max-width: 510px) {
    main {
        font-size: 1.15rem;
    }
    .sitename {
        font-size: 2.75rem;
    }
    footer {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .sitename {
        font-size: 2.2rem;
    }
    main {
        font-size: 1.0rem;
    }
    h1 {
        font-size: 1.85rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
}
