---
title: News Posts
changefreq: weekly
---

{% include _head.html %}
<main>
    <h1>Posts</h1>
	
	<p>
		This page contains a chronological list of links to posts about
		the day to day work that volunteers carry out in the forest.
	</p>	
	
	<ul class="post-list">
		{% for _post in collections.post reversed -%}
		<li class="post-list-item">
			<a href="{{ _post.url }}" class="post-list-link">{{ _post.data.title }}</a
			><span class="post-date"> ~ {{ _post.data.date | dateFormat }}</span>
		</li>
		{% endfor -%}
	</ul>
</main>
{% include _foot.html %}
