---
title: News Posts
changefreq: weekly
---
{% include _head.html %}
  <main>    
    <h1>List of Posts</h1>

    <p>This page contains a list of posts written by me, Peter Thompson, that hopefully tell of interesting aspects of working at the forest. They are arranged newest to oldest.</p>
    
    <ul class="post-list">
        {% for post in collections.post reversed -%}
        <li class="post-list-item"><a href="{{ post.url }}" class="post-list-link">{{ post.data.date | dateFormat }}: {{ post.data.title }}</a></li>
        {% endfor -%}
    </ul>
  </main>    
{% include _foot.html %}