---
description: Posts layout
---
{% include _head.html %}
  <main>
    <article>
      <a href="/postlist">&#8604; All Posts</a>
      {{ content | safe }}  
      <a class="bottom-link-to-list-of-posts" href="/postlist">&#8604; All Posts</a>  
    </article>
  </main>  
{% include _foot.html %}